# ----------------------------------------------------------------------------
#  NMN-CI-StarterKit .gitignore file
# ----------------------------------------------------------------------------

# Configuration Files
*/.htpasswd
*/config/testing/*
*/config/testing/!index.html
*/config/production/*
*/config/production/!index.html
*/config/development/*
*/config/development/!index.html

# Logs
*/logs/chrome/*
*/logs/log-*.php
*/logs/!chrome/
*/logs/!index.html
*/logs/chrome/!index.html

# Cache
*/cache/*
*/cache/db/*
*/cache/assets/*
*/cache/!index.html
*/cache/assets/!index.html
*/cache/db/!index.html
*/cache/!assets/
*/cache/!db/
